body {
    margin: auto;
    width: 90%;
    max-width: 1024px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    & a {
        text-decoration: none;
        color: black;
    }

    & .link_container {
        display: flex;
        font-size: 18px;

        & a {
            padding-left: 10px;

            &:hover {
                text-decoration: underline;
                text-decoration-color: darkred;
            }
        }
    }
}

main {
    & img {
        width: 100%;
        max-width: 1024px;
    }
}

footer {
    font-size: small;
    text-align: center;

    padding-top: 25px;
}

form {
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    & textarea {
        width: 500px;
        max-width: 100%;
        height: 250px;
        margin: 10px;
    }

    & input {
        border: solid 1px #444;
        padding: 8px 24px;

        &:hover {
            animation: shadow_in 400ms ease normal forwards;
        }
    }
}

@keyframes shadow_in {
    from {
        box-shadow: none;
    }
    to {
        box-shadow: inset 0 0 8px -2px #444;
    }
}
