:root {
    --site-width: 80%;
    --site-max-width: 1024px;

    --font-size-base: 1rem;
    --font-size-xlarge: calc(var(--font-size-base) * 1.5);
    --font-size-largest: calc(var(--font-size-base) * 2);

    --color-off-white: #f2f1ee;
    --color-highlight: #800000;
    --color-black: #0d0d0d;

    --link-color: var(--color-highlight);

    --font-color: var(--color-black);
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --font-weight-normal: 400;
    --font-weight-bold: 700;

    --gap: 8px;

    --header-height: 3rem;
    --footer-height: 1.5rem;

    --background-color: var(--color-off-white);

    font-family: var(--font-family);
    font-weight: var(--font-weight-normal);
    color: var(--color-black);

    background-color: var(--background-color);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    width: var(--site-width);
    max-width: var(--site-max-width);
    margin: auto;
}

.lower {
    text-transform: lowercase;
}

h1 {
    font-size: var(--font-size-largest);
    font-weight: var(--font-weight-bold);

    &.center {
        text-align: center;
    }
}

h2 {
    font-size: var(--font-size-large);
    font-weight: var(--font-weight-bold);
}

a {
    color: var(--link-color);
    text-decoration: none;

    background-image: linear-gradient(var(--link-color), var(--link-color));
    background-size: 0% 0.1em;
    background-position-y: 100%;
    background-position-x: 100%;
    background-repeat: no-repeat;
    transition: background-size 0.2s ease-in-out;

    &:hover,
    &:focus,
    &:active {
        background-size: 100% 0.1em;
        background-position-x: 0%;
    }

    &[target="_blank"] {
        margin-right: 1em;

        &::after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
            margin: 0 3px 0 5px;
            position: absolute;
        }
    }

    &.showLinkColor {
        color: var(--high)
    }
}
