.form {
    display: flex;
    flex-direction: column;
}

.formItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.formInput {
    padding: 8px;
}

.textarea {
    height: 250px;
}

.formButton {
    padding: 4px 32px;
    margin: auto;
    margin-bottom: 64px;
}
