.nav {
    display: none;
    flex-direction: column;
    gap: var(--gap);

    &.show {
        display: flex;
        position: absolute;
        top: calc(15px + var(--header-height));
        left: 0;
        z-index: 2;

        background-color: var(--background-color);

        width: 100vw;
        height: 100vh;

        padding: 48px;

        font-size: var(--font-size-xlarge);
    }

    a {
        display: block;
        color: var(--color-black);
        text-decoration: none;

        &:hover {
            color: var(--color-highlight);
        }
    }
}

.projectMenu {
    padding-left: 18px;
    text-transform: lowercase;
}

.navButton {
    all: unset;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 4px;
    margin-top: 4px;

    &:has(+ nav.show) {
        .bar {
            &:nth-child(1) {
                transform: translate(0, 8px) rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                transform: translate(0, -8px) rotate(45deg);
            }
        }
    }

    .bar {
        width: 35px;
        height: 4px;
        background-color: #333;
        transition: 0.4s;
    }
}

@media (min-width: 425px) {
    .container {
        position: relative;
    }

    .nav.show {
        position: absolute;
        top: calc(var(--header-height) - 12px);
        left: unset;
        right: 8%;

        border: solid 1px var(--color-black);

        font-size: var(--font-size-base);

        width: unset;
        height: unset;

        padding: 24px;

        font-size: var(--font-size-xlarge);
    }
}
